.wallpaper {
  position: absolute;
  top: 95px;
  opacity: 0.7;
  z-index: -1;
  height: 620px;
  width: 1050px;
  border-radius: 5px;
}

.main {
  display: flex;
  justify-content: space-evenly;
  z-index: 10;
}

.header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 182px;
  width: 600px;

  .ml {
    font-family: $main;
    font-size: 110px;
    color: $yellow;
    font-weight: bold;
  }
  h2 {
    font-family: $subtitle;
    font-size: 70px;
    color: $light-yellow;
  }
}

.subtitle {
  color: $white;
  font-family: $subtitle;
  font-size: 30px;
  font-weight: 200;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar-mlmaconnerie {
    width: 88%;
    overflow-x: auto;
  }
}

/* Styles pour les grands écrans */
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .navbar-mlmaconnerie {
    width: 88%;
    overflow-x: auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .navbar-mlmaconnerie {
    width: 88%;
    overflow-x: auto;
  }
}
