.home-container {
  margin-left: 150px;
  margin-right: 150px;
}

.wallpaper {
  position: absolute;
  top: 95px;
  opacity: 0.7;
  z-index: -1;
  height: 620px;
  width: 1050px;
  border-radius: 5px;
}

.main {
  display: flex;
  justify-content: space-evenly;
  z-index: 10;
}

.header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 182px;
  width: 600px;

  .ml {
    font-family: $main;
    font-size: 110px;
    color: $yellow;
    font-weight: bold;
  }
  h2 {
    font-family: $subtitle;
    font-size: 70px;
    color: $light-yellow;
  }
}

.subtitle {
  color: $white;
  font-family: $subtitle;
  font-size: 30px;
  font-weight: 200;
  display: flex;
  justify-content: center;
}

.linkshome {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  .btnhome {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black;
    width: 240px;
    height: 40px;
    margin-top: 30px;
    margin-right: 50px;
    background-color: $yellow;
    border-radius: 10px;
    box-shadow: 1px 2px $mid-yellow;
  }
}
