<div class="footer">
  <div class="d-flex align-items-center">
    <i class="fa-solid fa-trowel-bricks me-3 fa-xl brickicon" style="color: #eeff00;"></i>
    <p class="address"><strong>ML Maçonnerie <br>Sainte-Marie <br>44260 MALVILLE</strong></p>
  </div>
  <div class="footer-links">
    <a href="https://www.facebook.com/ml.maconnerie.5" target="_blank"><i class="fa-brands fa-square-facebook" style="color: #fbff00;"></i></a>
  </div>
  <%= link_to "Mentions Légales", root_path, class:"linksmentions" %>
</div>
