<nav class="navbar-mlmaconnerie">
  <%= image_tag "logo.jpg", alt:"logo", class:"logo" %>

  <div class="navbarcontainer">
    <div class="contactinfos">
      <div class="d-flex mt-4 me-4">
        <i class="fa-solid fa-phone me-2"></i>
        <p><strong>06.88.76.14.30</strong></p>
      </div>
      <div class="d-flex mt-4 me-5">
        <i class="fa-solid fa-envelopes-bulk me-2"></i>
        <p><strong>mlmaconnerie@laposte.net</strong></p>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn"><i class="fa-solid fa-bars fa-xl mt-3" style="color: #fbff00;"></i></i>
      </button>
      <div class="dropdown-content">
        <a href="/#">Accueil</a>
        <a href="/competences">Nos Compétences</a>
        <a href="/realisations">Nos Réalisations</a>
        <a href="/equipes">Notre Equipe</a>
        <a href="#">Avis Clients</a>
        <a href="#">Contactez-nous</a>
      </div>
    </div>

  </div>
</nav>
