<section class="contact section" id="contact">
  <h1 class="section__title">Contactez-nous pour toutes demandes concernant vos projets !</h1>

  <div class="contact__container container grid" data-controller="contacts">
    <form action="" class="contact__form" id="contact-form" data-contacts-target="form" >
      <div class="contact__group">
        <input type="text" name="user_name" required placeholder="Entrez votre nom" class="contact__input">
        <input type="email" name="user_email" required placeholder="Entrez votre email" class="contact__input">
      </div>

      <textarea name="user_project" require placeholder="Entrez votre message" class="contact__input"></textarea>

      <p class="contact__message" id="contact-message" data-contacts-target="messalert"></p>

      <button type="submit" class="btnyellow contact__button" data-action="submit->contacts#sendEmail">Envoyer</button>
    </form>
  </div>

</section>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
