<div class="container">
  <div class="card-product-left">
    <%= image_tag "2.jpg", alt: "maçonnerie de pierre" %>
    <div class="card-product-infos">
      <h3>Maçonnerie de pierre</h3>
      <p>Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.</p>
    </div>
  </div>
  <div class="card-product-right">
    <div class="card-product-infos">
      <h3>Maçonnerie de pierre</h3>
      <p>Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.</p>
    </div>
    <%= image_tag "2.jpg", alt: "maçonnerie de pierre" %>
  </div>
    <div class="card-product-left">
      <%= image_tag "2.jpg", alt: "maçonnerie de pierre" %>
      <div class="card-product-infos">
        <h3>Maçonnerie de pierre</h3>
        <p>Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.</p>
      </div>
    </div>
</div>
